body {
	margin: 0px;
	padding: 0px;
}

/* loading */
.loading {
	width: 100%;
	height: 100%;
	background: red;
	text-align: center;
	display: none;
}

/* home */
.home {
	width: 100%;
	height: 100%;
	background: black;
	display: none;
}

.home input {
	width: 100%;
	height: 25%;
	margin: 10% 0 0 0;
	font-size: 400%;
	text-align: center
}

.home button {
	width: 100%;
	height: 25%;
	margin: 5% 0 0 0;
	background: red;
	font-size: 400%
}

/* joystick */
.joystick {
	width: 100%;
	height: 100%;
	display: none;
}

.joystick div {
	width: 50%;
	height: 50%;
	float: left;
}

.joystick div:active {
	background: yellow;
}

.red {
	background: red;
}

.green {
	background: green;
}

.blue {
	background: blue;
}

.black {
	background: black;
}